In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [12]:
complaints_raw = pd.read_csv("NYPD_Complaint_Year_To_Date.csv")
complaints_raw.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,343720611,48.0,BRONX,06/25/2019,14:15:00,06/25/2019,14:20:00,COMPLETED,NaN,NaN,...,M,NaN,25-44,BLACK,F,1016986.0,250197.0,40.853355,-73.881668,"(40.85335545600003, -73.88166837799997)"
1,953123251,14.0,MANHATTAN,06/25/2019,13:55:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,UNKNOWN,UNKNOWN,D,987220.0,212676.0,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)"
2,553754783,18.0,MANHATTAN,06/25/2019,13:20:00,06/25/2019,13:25:00,COMPLETED,NaN,NaN,...,NaN,NaN,45-64,WHITE,M,991199.0,216774.0,40.761677,-73.974917,"(40.761676504000036, -73.97491700299997)"
3,398494230,52.0,BRONX,06/25/2019,13:20:00,NaN,NaN,ATTEMPTED,NaN,NaN,...,M,NaN,25-44,WHITE HISPANIC,F,1017542.0,255919.0,40.869059,-73.879630,"(40.86905853200005, -73.87963014799993)"
4,219893130,19.0,MANHATTAN,06/25/2019,13:20:00,06/25/2019,13:36:00,COMPLETED,NaN,NaN,...,M,NaN,45-64,BLACK,M,998329.0,224701.0,40.783426,-73.949163,"(40.78342557000008, -73.94916258199999)"

In [22]:
# Selction of only the interesting columns for the study
complaints_raw_selection = complaints_raw[["ADDR_PCT_CD", "BORO_NM", "CMPLNT_FR_DT", "CMPLNT_FR_TM", "KY_CD", "LAW_CAT_CD", "OFNS_DESC", "SUSP_AGE_GROUP", "SUSP_RACE", "SUSP_SEX", "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX", "Latitude", "Longitude", "Lat_Lon"]]
complaints_raw_selection.head()

,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude,Lat_Lon
0,48.0,BRONX,06/25/2019,14:15:00,578,VIOLATION,HARRASSMENT 2,UNKNOWN,BLACK,M,25-44,BLACK,F,40.853355,-73.881668,"(40.85335545600003, -73.88166837799997)"
1,14.0,MANHATTAN,06/25/2019,13:55:00,341,MISDEMEANOR,PETIT LARCENY,45-64,BLACK,M,UNKNOWN,UNKNOWN,D,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)"
2,18.0,MANHATTAN,06/25/2019,13:20:00,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,NaN,NaN,NaN,45-64,WHITE,M,40.761677,-73.974917,"(40.761676504000036, -73.97491700299997)"
3,52.0,BRONX,06/25/2019,13:20:00,104,FELONY,RAPE,45-64,BLACK HISPANIC,M,25-44,WHITE HISPANIC,F,40.869059,-73.879630,"(40.86905853200005, -73.87963014799993)"
4,19.0,MANHATTAN,06/25/2019,13:20:00,578,VIOLATION,HARRASSMENT 2,25-44,BLACK,M,45-64,BLACK,M,40.783426,-73.949163,"(40.78342557000008, -73.94916258199999)"

In [24]:
# Changing the columns names
complaints_raw_selection = complaints_raw_selection.rename(columns={"ADDR_PCT_CD":"Address_precinct", "BORO_NM":"Hood", "CMPLNT_FR_DT":"Complaint_date", "CMPLNT_FR_TM":"Complaint_time", "KY_CD":"Key_code", "LAW_CAT_CD":"Offense_level", "OFNS_DESC":"Offense_desc", "SUSP_AGE_GROUP":"Suspect_age", "SUSP_RACE":"Suspect_race", "SUSP_SEX":"Suspect_sex", "VIC_AGE_GROUP":"Victim_age", "VIC_RACE":"Victim_race", "VIC_SEX":"Victim_sex"})
complaints_raw_selection.head()

,Address_precinct,Hood,Complaint_date,Complaint_time,Key_code,Offense_level,Offense_desc,Suspect_age,Suspect_race,Suspect_sex,Victim_age,Victim_race,Victim_sex,Latitude,Longitude,Lat_Lon
0,48.0,BRONX,06/25/2019,14:15:00,578,VIOLATION,HARRASSMENT 2,UNKNOWN,BLACK,M,25-44,BLACK,F,40.853355,-73.881668,"(40.85335545600003, -73.88166837799997)"
1,14.0,MANHATTAN,06/25/2019,13:55:00,341,MISDEMEANOR,PETIT LARCENY,45-64,BLACK,M,UNKNOWN,UNKNOWN,D,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)"
2,18.0,MANHATTAN,06/25/2019,13:20:00,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,NaN,NaN,NaN,45-64,WHITE,M,40.761677,-73.974917,"(40.761676504000036, -73.97491700299997)"
3,52.0,BRONX,06/25/2019,13:20:00,104,FELONY,RAPE,45-64,BLACK HISPANIC,M,25-44,WHITE HISPANIC,F,40.869059,-73.879630,"(40.86905853200005, -73.87963014799993)"
4,19.0,MANHATTAN,06/25/2019,13:20:00,578,VIOLATION,HARRASSMENT 2,25-44,BLACK,M,45-64,BLACK,M,40.783426,-73.949163,"(40.78342557000008, -73.94916258199999)"

In [26]:
# Checking the types
complaints_raw_selection.dtypes

Address_precinct    float64
Hood                 object
Complaint_date       object
Complaint_time       object
Key_code              int64
Offense_level        object
Offense_desc         object
Suspect_age          object
Suspect_race         object
Suspect_sex          object
Victim_age           object
Victim_race          object
Victim_sex           object
Latitude            float64
Longitude           float64
Lat_Lon              object
dtype: object